# 환경 변수 (Environment variables)
.env
.env.*
!.env.example
*/.gitignore

# 파이썬 가상환경 및 패키지 (Virtual environments & Packages)
.venv/
venv/
env/

# 파이썬 캐시 (Python cache files)
__pycache__/
*.py[cod]
*$py.class

# 빌드 및 배포 (Distribution / packaging)
build/
dist/
wheels/
*.egg-info/
.eggs/

# IDE 및 OS 환경설정
.idea/
.vscode/
.DS_Store

# 과제 정리
Today'sAssignment.md
md-image/

# 데이터베이스 및 로컬 스토리지 방지 (Database & Local Storage)
sessions.db
chroma_db/
*.sqlite3
*.bin